section {
  min-height: calc(100vh - 74px - 180px);
}

#forgotPassword .backlink {
  color: black;
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#forgotPassword .backlink:hover {
  color: var(--dark-red);
}
